DataStructures/DataStructures.Core/bin/Debug/netcoreapp2.0/DataStructures.Core.dll
DataStructures/DataStructures.Core/bin/Debug/netcoreapp2.0/DataStructures.Core.pdb
DataStructures/DataStructures.Core/obj/Debug/netcoreapp2.0/DataStructures.Core.dll
DataStructures/DataStructures.Core/obj/Debug/netcoreapp2.0/DataStructures.Core.pdb
DataStructures/DataStructures.Test/bin/Debug/netcoreapp2.0/DataStructures.Core.dll
DataStructures/DataStructures.Test/bin/Debug/netcoreapp2.0/DataStructures.Core.pdb
DataStructures/DataStructures.Test/bin/Debug/netcoreapp2.0/DataStructures.Test.dll
DataStructures/DataStructures.Test/bin/Debug/netcoreapp2.0/DataStructures.Test.pdb
DataStructures/DataStructures.Test/obj/Debug/netcoreapp2.0/DataStructures.Test.dll
DataStructures/DataStructures.Test/obj/Debug/netcoreapp2.0/DataStructures.Test.pdb
DataStructures/DataStructures.Test/obj/Debug/netcoreapp2.0/DataStructures.Test.csprojAssemblyReference.cache
DataStructures/DataStructures.Core/bin/Debug/netcoreapp2.0/DataStructures.Core.dll
DataStructures/DataStructures.Core/bin/Debug/netcoreapp2.0/DataStructures.Core.dll
